/*购物车*/
.shopcart{
    height: 630px;
    margin-top: 30px;
}
.shopcart h3{
    font-size: 24px;
    color: #ff6700;
    text-indent: 20px;
    font-weight: 500;
}
.shopcart table{
    height: 500px;
    width: 1350px;
    text-align: center;
}
.shopcart table thead tr th{
    height: 60px;
    background-color: #f1f1f1;
}
.shopcart .totalprice{
    height: 60px;
    background-color: #f1f1f1;
    margin-top: 20px;
    line-height: 60px;
    font-size: 18px;
}
.shopcart .totalprice span{
    margin-right: 150px;
}
.shopcart .totalprice input{
    margin-left: 20px;
}
.shopcart .totalprice span {
    color: black;
}
/*总价*/
.shopcart .totalprice span:nth-child(4){
    color: black;
}
.shopcart .totalprice button {
    width: 100px;
    height: 30px;
    border: 0;
    font-weight: 500;
    color: #fff;
    background-color: #ff6700;
}
/*account*/
.shopcart .totalprice span:first-of-type{
    margin-left: 100px;
}

.shopcart table button{
    width: 20px;
    height: 20px;
}
.shopcart table input{
    width: 50px;
}